<div class="card shadow w-50 mx-auto mt-5">
  <div class="card-body">
    <h1 class="card-title d-flex justify-content-between">
      <span>
        {{this.game.name}}
      </span>
      <span>
        {{fontawesome-icon icon="futbol"}}
      </span>
    </h1>
    <h2 class="card-subtitle text-muted fs-4">
      {{this.game.description}}
    </h2>
    <hr />
    <div class="row">
      <div class="col-4">
        <h3 class="fs-6 fw-bold">
          Created by:
        </h3>
      </div>
      <div class="col">
        <p class="fs-6">
          @{{this.game.user.username}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h3 class="fs-6 fw-bold">
          Starts at:
        </h3>
      </div>
      <div class="col">
        <p class="fs-6">
          {{this.game.startsAt}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h3 class="fs-6 fw-bold">
          Ends at:
        </h3>
      </div>
      <div class="col">
        <p class="fs-6">
          {{this.game.endsAt}}
        </p>
      </div>
    </div>
    <hr />
    <h3 class="fs-6 fw-bold">
      Players:
    </h3>
    {{#each this.users}}
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title fs-6">
            @{{this.username}}
          </h4>
        </div>
      </div>
    {{/each}}
    {{#unless isCreator}}
      {{#if isJoined}}
        <a href="/games/{{this.game.id}}/remove" class="btn btn-danger">
          Leave Game
        </a>
      {{else}}
        <a href="/games/{{this.game.id}}/join" class="btn btn-primary">
          Join Game
        </a>
      {{/if}}
    {{else}}
      <a href="/games/{{this.game.id}}/edit" class="btn btn-primary">
        Edit Game
      </a>
    {{/unless}}
  </div>
</div>