<div class="card w-50 mx-auto mt-5">
  <div class="card-body">
    <h3 class="card-title">
      Game Detail
    </h3>
    <form method="POST" action="/games/{{this.game.id}}/edit">
      <div class="mb-3">
        <label for="name" class="form-label">
          Names
        </label>
        <input
          class="form-control"
          id="name"
          name="name"
          type="text"
          value="{{this.game.name}}"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">
          Description
        </label>
        <textarea
          class="form-control"
          id="description"
          name="description"
          rows="4"
        >
          {{this.game.description}}
        </textarea>
      </div>
      <div class="mb-3">
        <label for="startsAt" class="form-label">
          Starts at
        </label>
        <input
          class="form-control"
          id="startsAt"
          name="startsAt"
          type="datetime-local"
          value="{{this.game.startsAt}}"
        />
      </div>
      <div class="mb-3">
        <label for="endsAt" class="form-label">
          Ends at
        </label>
        <input
          class="form-control"
          id="endsAt"
          name="endsAt"
          type="datetime-local"
          value="{{this.game.endsAt}}"
        />
      </div>
      <button
        id="delete-game"
        value="{{this.game.id}}"
        type="button"
        class="btn btn-danger"
      >
        Delete
      </button>
      <input type="submit" name="submit" value="Update" class="btn btn-primary" />
    </form>
  </div>
</div>